@use '/style/reset.scss';
@use './style/variables.scss' as *;
@use 'sass:color';

body {
  display: grid;
  grid-template-columns: 200px repeat(2, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
  height: 100vh;
}

header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;

  & div.toolbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 20px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  & div.page-title {
    background-color: $main_color;
    min-width: 356px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    font-size: 30px;
  }
}

.page-container {
  margin: 0;
  grid-area: main;
  display: grid;
  grid-template-columns: 300px 1fr;

  & nav {
    background-color: rgb(48, 180, 158);
    & div.menu-container {
              
      position: sticky;
      top: 0;
      display: flex;
      flex-direction: column;

      & div.menu-title {
        padding: 20px;
        font-size: 25px;
        font-weight: bold;
        color: white;
        margin: 0% auto;
        @media (max-width: 768px) {
          display: none;
        }
      }
      & ul {
        & li {
          display: flex;
          align-items: start;
          padding: 20px;
          background-color: rgb(243, 230, 179);
          border-bottom: 1px solid black;
          width: 100%;
          @media (max-width: 768px) {
            justify-content: center;
          }
        }
        @media (max-width: 768px) {
          display: flex;
          flex-direction: row;
        }
      }
    }
    @media (max-width: 768px) {
      position: sticky;
      top: 0;
    }
    @media (max-width: 360px){
      min-width: 360px;
    }
  }

  & main {
    & div.list {
      padding-top: 30px;
      padding-bottom: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 35px;
      & div.card {
        width: 300px;
        min-height: 200px;
        padding: 20px;
        border: 1px solid black;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        gap: 10px;
        & img {
          width: 100px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}

footer {
  background-color: $main_color;
  grid-area: footer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 20px;
}