.hola {
    position: fixed;
    width: 50%;
    height: 50%;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.228);
}