.card_collection {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    gap: 5px;
    max-width: 300px;
    min-width: 300px;
    flex: 1;

    img {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 5px 5px 0px 0px;
    }

    &_info {
        display: flex;
        flex-direction: column;
        padding: 0px 7px 7px 7px;

        &_header {
            display: flex;
            flex-direction: column;

            div {
                display: flex;
                align-items: center;
                gap: 10px;


                div {
                    border-radius: 50%;
                    display: inline-block;

                    width: 20px;
                    height: 20px;
                }

                .isAlive {
                    animation: pulse-bg-green 2s infinite ease-in-out;

                    background-color: #64cf49;
                }

                .isNotAlive {
                    animation: pulse-bg 2s infinite ease-in-out;
                    background-color: #ca1818;
                }
            }
        }

    }

}

@keyframes pulse-bg {

    0%,
    100% {

        filter: blur(0px);
    }

    50% {
        filter: blur(1px);

    }
}