.list_for_day {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: var(--gap-md);

    &_filter_header {
        display: flex;
        gap: var(--gap-md);
        padding: var(--padding-md);
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.262);
        border-radius: var(--padding-md);

        &_btn_clear {
            display: flex;

            button {
                color: black;
            }
        }


        &_btn_period {
            display: flex;
            gap: var(--gap-md);
            position: relative;

            button {
                color: black;
                padding: var(--padding-sm);
            }


        }

        button {
            padding: var(--padding-sm);

            &:hover {
                cursor: pointer;
            }
        }
    }

    &_meal {
        min-width: 50%;
        max-width: 100%;
        display: grid;
        grid-template-columns: 60% 20% 20%;

        animation: 1s linear fadeIn;

        &_btn_edit {
            padding: var(--padding-md);
            background-color: var(--pizzara-color);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: start;

            span {
                font-size: 15px;
                transition: transform 0.5s ease;
                display: flex;
                align-items: center;
            }

            &:hover {
                background-color: var(--pizzara-color-secondary);

                span {
                    transform: translateX(25%);
                }
            }
        }

        &_btn_fav {
            display: flex;
            align-items: center;
            background-color: var(--pizzara-color);
            padding: 0%;

            svg {
                transition: all ease 0.5s;
                fill: white;
            }

            &:hover {

                svg {
                    fill: red;

                }

            }

            .svg_isFav {
                fill: red;
                transition: all ease 0.5s;

                &:hover {
                    fill: white;
                }
            }
        }


        &_btn_delete {
            padding: 0%;
            background-color: var(--pizzara-color);

            img {
                width: 100%;
                height: 100%;
            }


        }
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}